*{
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;
    max-width: 550px;
    align-items: center;
}

header {
    height: 50px;
    padding: 25px 0px;
}

input[type="color"] {
    width: 57px;
    height: 40px;
    border: none;
}

button {
    border-radius: 4px;
    font-size: 12px;
    color: var(--gray-700, #374151);

}